<!DOCTYPE html>

{% extends "../base.html" %}
{% block body_block %}
      <table>
      {% if book %}
      <form method="POST">
        {% csrf_token %}
        {% for bk in book %}
        <tr>
          <td><input type="checkbox" name="booksToDelete" value="{{ bk.bookid }}"></td>
          <td>{{ bk.title }}</td>
          <td>{{ bk.author }}</td>
          <td>{{ bk.published_date }}</td>
          <td>{{ bk.publisher_id }}</td>
        </tr>
        {% endfor %}
        <br>
        {% for frt in fruit %}
        <tr>
          <td><input type="checkbox" name="fruitToRemove" value="{{ frt }}">     {{ frt }}</td>
        </tr>
        {% endfor %}
        <input type="submit" class="btn" value="Delete Selected"><br>
      </form>
      {% else %}
        <p>There are no books in the library!</p>
      {% endif %}
      </table>
      <br>
      <a href="newbook">Add New Book</a>
    {% endblock %}

  </body>
</html>
