<!DOCTYPE html>

{% extends "../base.html" %}
{% block body_block %}
      <table>
      {% if book_list %}
      <form method="POST">
        {% csrf_token %}
        {% for bk in book_list %}
        <tr>
          <td><input type="checkbox" name="booksToDelete" value="{{ bk.id }}"></td>
          <td><a href="{{ bk.get_absolute_url }}">{{ bk.title }}</a></td>
          <!-- <td><a href="{% url 'books:book-detail' bk.id %}">{{ bk.title }}</a></td> -->
          <td>{{ bk.author }}</td>
          <td>{{ bk.pub_date }}</td>
          <!-- <td>{{ bk.publisher_id }}</td> -->
        </tr>
        {% endfor %}
  
        <input type="submit" class="btn" value="Delete Selected"><br>
      </form>
      {% else %}
        <p>There are no books in the library!</p>
      {% endif %}
      </table>
      <br>
      <a href="newbook">Add New Book</a>
    {% endblock %}

  </body>
</html>
