<!DOCTYPE html>

{% extends "../base.html" %}
{% block body_block %}
      <table>
      {% if genre %}
      <form method="POST">
        {% csrf_token %}
        {% for ct in genre %}
        <tr>
          <td><input type="checkbox" name="genreToDelete" value="{{ ct.name }}"></td>
          <!-- <td>{{ ct.catalog_id }}</td> -->
          <td>{{ ct.name }}</td>
        </tr>
        {% endfor %}
        <input type="submit" class="btn" value="Delete Selected"><br>
      </form>
      {% else %}
        <p>There are no catalogs in the library!</p>
      {% endif %}
      </table>
      <br>
      <a href="newgenre">Add New Catalog</a>
    {% endblock %}

  </body>
</html>
