<!DOCTYPE html>
{% extends "../base.html" %}

{% block body_block %}
      <table>
        <h1>Publishers</h1>
        {% if publisher %}
        <form method="post">
          {% csrf_token %}
          {% for x in publisher %}
          <tr>
            <td><input type="checkbox" name="publisherToDelete" value="{{ x.id }}"></td>
            <td>{{x.name}}</td>
            <td>{{x.address}}</td>
            <td>{{x.phone}}</td>
            <td>{{x.id}}</td>
          </tr>
          {% endfor %}
          <input type="submit" class="btn" value="Delete Selected"><br>
        </form>
      </table>
      {% else %}
        <p>There are currently no publishers.</p>
      {% endif %}
      <a href="newpublisher">Add Publisher</a>
{% endblock %}
