<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
  </head>
  <body>
    <p>Welcom to Online Virtual Library!</p>
    <p>If you registered to the library, please sign in. </p>
    <form method="POST">
        {{ userloginform.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <br><br>
    <p>If you have not registered, please click <a href="{% url 'login:userregister' %}">Here</a> to sign up.</p>
  </body>
</html>
