<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Publishers</title>
  </head>
  <body>
    <h1>Publishers</h1>
    {% if publisher %}
    <table>
      {% for x in publisher %}
      <tr>
        <td>{{x.name}}</td>
        <td>{{x.address}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.id}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no publishers.</p>
    {% endif %}
    <a href="addpublisher.html">Add Publisher</a>
  </body>
</html>
